svg {
    position: fixed;
    top: 0;
    z-index: 100;
}

#interaction, #left-column {
    display: flex; 
    flex-direction: column; 
    position: fixed; 
    top: 0;
    width: 20%;
    z-index: 200;
}

#left-column {
    left: 2vmin;
}

#interaction {
    right: 2vmin;
}

fieldset {
    border-color: #800080; 
    min-width: 0px; 
    max-width: 100%; 
    margin: 0; 
    margin-top: 3vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
    border-radius: 5px;
}

#download {
    padding: 0;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 100%
}

#download:hover {
    background-color: rgba(211, 211, 211, 0.856);
    color: black;
}

#context-menu {
    display: none;
    position: absolute;
    z-index: 300;
    border-radius: 5px;
}

#copy, #download-seq, #copy-all, #download-all-seq {
    width: 100%;
    border: none;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
}

#copy:hover, #download-seq:hover, #copy-all:hover, #download-all-seq:hover {
    background-color: rgba(211, 211, 211);
}

.mp-zero {
    margin: 0;
    padding: 0;
}

.mp-zero-pb-not {
    margin: 0;
    padding: 0;
    padding-bottom: 2.5vh;
}

#body-1 {
    height: 100%;
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
}

#married-pattern {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
    background-image: radial-gradient(circle at 1px 1px, #800080 1px, transparent 0); 
    background-size: 5px 5px; 
    z-index: 100; 
    pointer-events: none; 
    clip-path: url(#mask); 
    opacity: 0.5;
}

#descendant-section {
    
}

@media (hover: none) {
    #hovering-over {
        display: none;
    }
}

@media (width <= height) {
    #left-column {
        transform-origin: top left; 
        transform: rotate(-90deg); 
        top: calc(100% - 2vmin); 
        left: 0;
    }
    #interaction {
        transform-origin: top right; 
        transform: rotate(-90deg); 
        right: 100%; 
        top: 2vmin;
    }
}