:root {
    --container-position: absolute;
    --container-top: 0%;
    --container-left: 0%;
    --container-width: 100%;
    --container-height: 100%;
    --left-column-width: 0.2;
    --right-column-width: 0.2;
    --left-column-display: flex;
    --right-column-display: flex;
    --container-border: 3px solid #800080;
}

svg {
    position: absolute;
    top: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    z-index: 100;
}

#interaction, #left-column {
    flex-direction: column; 
    position: absolute; 
    top: 0;
    z-index: 200;
}

#left-column {
    display: var(--left-column-display); 
    left: 0;
    margin-left: 2vmin;
    width: calc(100% * var(--left-column-width));
}

#interaction {
    display: var(--right-column-display); 
    right: 0;
    margin-right: 2vmin;
    width: calc(100% * var(--right-column-width));
}

fieldset {
    border-color: #800080; 
    min-width: 0px; 
    max-width: 100%; 
    margin: 0; 
    margin-top: calc(3 / 100 * var(--container-height));
    padding-left: calc(1.5 / 100 * var(--container-width));
    padding-right: calc(1.5 / 100 * var(--container-width));
    padding-top: calc(1.5 / 100 * var(--container-height));
    padding-bottom: calc(2 / 100 * var(--container-height));
    border-radius: 5px;
}

#download {
    padding: 0;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 100%
}

#download:hover {
    background-color: rgba(211, 211, 211, 0.856);
    color: black;
}

#context-menu {
    display: none;
    position: absolute;
    z-index: 300;
    border-radius: 5px;
}

#copy, #download-seq, #copy-all, #download-all-seq {
    width: 100%;
    border: none;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
}

#copy:hover, #download-seq:hover, #copy-all:hover, #download-all-seq:hover {
    background-color: rgba(211, 211, 211);
}

.mp-zero {
    margin: 0;
    padding: 0;
}

.mp-zero-pb-not {
    margin: 0;
    padding: 0;
    padding-bottom: calc(2.5 / 100 * var(--container-height));
}

body, #body-1 {
    height: 100%;
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
}

#body-1 {
    position: var(--container-position);
    top: var(--container-top);
    left: var(--container-left);
    width: var(--container-width);
    height: var(--container-height);
}

#married-pattern {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
    background-image: radial-gradient(circle at 1px 1px, #800080 1px, transparent 0); 
    background-size: 5px 5px; 
    z-index: 100; 
    pointer-events: none; 
    clip-path: url(#mask); 
    opacity: 0.5;
}

#descendant-section {
    display: flex; 
    position: absolute; 
    top: 0vmin; 
    left: 50%; 
    visibility: hidden;
}

#uploadForm > fieldset {
    padding-bottom: calc(2 / 100 * var(--container-height));
}

legend {
    color: #800080; 
    font-weight: bold;
}

#uploadForm div {
    display: flex; 
    max-width: 100%;
}

#file, #fasta-file {
    display: inline; 
    max-width: 90%;
}

#uploadForm span {
    display: inline; 
    right: 2vmin;
}

#wrapper-fieldset > fieldset {
    display: flex; 
    flex-direction: column; 
    border: none; 
    margin-top: 0; 
    padding: 0;
}

#wrapper-fieldset input {
    accent-color: #800080;
}

#input1 {
    padding-bottom: calc(2 / 100 * var(--container-height));;
}

#e-label {
    color: grey;
}

#new-data-input {
    display: none;
}

#e-text {
    max-width: 20%;
}

#radio-input > div {
    display:flex
}

#interaction-last-fieldset {
    padding-bottom: calc(2 / 100 * var(--container-height));;
}

#context-menu {
    width: 15%;
}

#plot-container-parent {
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
    z-index: 1;
    border: var(--container-border);
}

#dpmm {
    height: 1mm; 
    width: 1mm; 
    left: 100%; 
    position: absolute; 
    top: 100%;
}

#plot-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box; 
    border: none;
    z-index: 90;
}

#labels {
    float: right;
}

@media (hover: none) {
    #hovering-over {
        display: none;
    }
}

@media (width <= height) {
    #left-column {
        transform-origin: top left; 
        transform: rotate(-90deg); 
        top: calc(100% - 2vmin); 
        left: 0;
    }
    #interaction {
        transform-origin: top right; 
        transform: rotate(-90deg); 
        right: 100%; 
        top: 2vmin;
    }
}