:root {
    --container-position: fixed;
    --container-top: 0%;
    --container-left: 0%;
    --container-width: 100%;
    --container-height: 100%;
}

svg {
    position: fixed;
    top: var(--container-top);
    left: var(--container-left);
    width: var(--container-width);
    height: var(--container-height);;
    z-index: 100;
}

#interaction, #left-column {
    display: flex; 
    flex-direction: column; 
    position: fixed; 
    top: var(--container-top);
    width: calc(var(--container-width) / 5);
    z-index: 200;
}

#left-column {
    left: var(--container-left);
    margin-left: 2vmin;
}

#interaction {
    left: calc(var(--container-top) + var(--container-width) * 0.8 - 2vmin);
    margin-right: 2vmin;
}

fieldset {
    border-color: #800080; 
    min-width: 0px; 
    max-width: 100%; 
    margin: 0; 
    margin-top: 3vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
    border-radius: 5px;
}

#download {
    padding: 0;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 100%
}

#download:hover {
    background-color: rgba(211, 211, 211, 0.856);
    color: black;
}

#context-menu {
    display: none;
    position: absolute;
    z-index: 300;
    border-radius: 5px;
}

#copy, #download-seq, #copy-all, #download-all-seq {
    width: 100%;
    border: none;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
}

#copy:hover, #download-seq:hover, #copy-all:hover, #download-all-seq:hover {
    background-color: rgba(211, 211, 211);
}

.mp-zero {
    margin: 0;
    padding: 0;
}

.mp-zero-pb-not {
    margin: 0;
    padding: 0;
    padding-bottom: 2.5vh;
}

body, #body-1 {
    height: 100%;
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
}

#body-1 {
    position: var(--container-position);
    top: var(--container-top);
    left: var(--container-left);
    width: var(--container-width);
    height: var(--container-height);
}

#married-pattern {
    position: fixed; 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
    background-image: radial-gradient(circle at 1px 1px, #800080 1px, transparent 0); 
    background-size: 5px 5px; 
    z-index: 100; 
    pointer-events: none; 
    clip-path: url(#mask); 
    opacity: 0.5;
}

#descendant-section {
    display: flex; 
    position: fixed; 
    top: 0vmin; 
    left: 50%; 
    visibility: hidden;
}

#uploadForm > fieldset {
    padding-bottom: 2vh;
}

legend {
    color: #800080; 
    font-weight: bold;
}

#uploadForm div {
    display: flex; 
    max-width: 100%;
}

#file, #fasta-file {
    display: inline; 
    max-width: 90%;
}

#uploadForm span {
    display: inline; 
    right: 2vmin;
}

#wrapper-fieldset > fieldset {
    display: flex; 
    flex-direction: column; 
    border: none; 
    margin-top: 0; 
    padding: 0;
}

#wrapper-fieldset input {
    accent-color: #800080;
}

#input1 {
    padding-bottom: 2vh;
}

#e-label {
    color: grey;
}

#new-data-input {
    display: none;
}

#e-text {
    max-width: 20%;
}

#radio-input > div {
    display:flex
}

#interaction-last-fieldset {
    padding-bottom: 2vh;
}

#context-menu {
    width: 15%;
}

#plot-container-parent {
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
    z-index: 1;
}

#dpmm {
    height: 1mm; 
    width: 1mm; 
    left: 100%; 
    position: fixed; 
    top: 100%;
}

#plot-container {
    position: var(--container-position);
    height: var(--container-height);
    width: var(--container-width);
    margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box; 
    border: none;
}

#labels {
    float: right;
}

@media (hover: none) {
    #hovering-over {
        display: none;
    }
}

@media (width <= height) {
    #left-column {
        transform-origin: top left; 
        transform: rotate(-90deg); 
        top: calc(100% - 2vmin); 
        left: 0;
    }
    #interaction {
        transform-origin: top right; 
        transform: rotate(-90deg); 
        right: 100%; 
        top: 2vmin;
    }
}