<!DOCTYPE html>
<html style="height: 100%; width: 100%; margin: 0; padding: 0; box-sizing: border-box; border: none; ">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KRONA plot</title>
        <link rel="stylesheet" href=""/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" crossorigin></script>
        
        <script>var exports = {};</script>
    </head>
    <body id="body-1" style="height: 100%; width: 100%; margin: 0; padding: 0; box-sizing: border-box; border: none; ">
        <div id="married-pattern" style="position:fixed; height: 100%; width: 100%; margin: 0; padding: 0; box-sizing: border-box; border: none; background-image: radial-gradient(circle at 1px 1px, #800080 1px, transparent 0); background-size: 5px 5px; z-index: 100; pointer-events:none; clip-path: url(#mask);"></div>
        <div id="input" style="display: flex; position: fixed; top: 0; left: 2vmin; height: 3vmin;">
            <input id="new-palette" type="text">
            <button id="change-palette">Try palette</button>
            <button id="take-snapshot">Send Snapshot</button>
        </div>
        <div id="input" style="display: flex; position: fixed; top: 3vmin; left: 2vmin; height: 3vmin;">
            <input type="checkbox" id="checkbox-input" name="collapse" style="accent-color: #800080;">
            <label for="collapse">Collapse</label>
        </div>
        <fieldset id="radio-input" style="display: flex; position: fixed; top: 6vmin; left: 2vmin; height: 3vmin; border:none; margin: 0; padding: 0;">
            <input type="radio" id="unaltered" name="radio" style="accent-color: #800080;">
            <label for="unaltered">Unaltered</label>
            <input type="radio" id="marriedTaxaI" name="radio" style="accent-color: #800080;">
            <label for="married-taxa-i">Married taxa I</label>
            <input type="radio" id="marriedTaxaII" name="radio" style="accent-color: #800080;">
            <label for="married-taxa-ii">Married taxa II</label>
            <input type="radio" id="allEqual" name="radio" style="accent-color: #800080;" checked>
            <label for="all-equal">All equal</label>
        </fieldset>
        <main style="height: 100%; width: 100%; margin: 0; padding: 0; box-sizing: border-box; border: none; z-index: 1;">
            <div id="dpmm" style="height: 1mm; width: 1mm; left: 100%; position: fixed; top: 100%;"></div>
            <script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
            <div style="height: 100%; width: 100%; margin: 0; padding: 0; box-sizing: border-box; border: none; " id="plot-container"></div>
            <div id="labels" style="float: right;"></div>
            <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        </main>
        <script src="{{ url_for('static', filename='bundle.js') }}"></script>
    </body>
</html>